<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metadata Analysis Input</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
          <ul>
            <li><a href="{{url_for ('home')}}">Home</a></li>
            <li><a href="#">SEO Health</a></li>
            <li><a href="#keywords">Keywords</a></li>
            <li><a href="{{url_for ('traffic_input')}}">Traffic</a></li>
            <li><a href="#competitor">Competitors</a></li>
            <li><a href="{{url_for ('metadata')}}">Metadata</a></li>
            <li><a href="{{url_for ('backlinks')}}">Backlinks</a></li>
            <li><a href="#">Reports</a></li>
          </ul>
        </nav>
    </header>

<main>
<section class="input-section">
    <h1>Enter Website to Check Metadata</h1>
    <form action="/get_metadata" method="post">
        <label for="website">Website:</label>
        <input type="text" id="website" name="website" placeholder="Enter a website e.g., example.com" required>
        <input type="text" id="keyword" name="keyword" placeholder="Enter a focus keyword" >
        <button type="submit" class="btn">Submit</button>

    </form>
</section>
</main>


</body>
</html>
