{% extends "base.html" %}

{% block title %}Backlinks Recommendations{% endblock %}

{% block content %}

    <h1>Recommendations and Insights</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% else %}
        <section class="acquisition-section">
            <h2>Recommendations and Acquisition Strategies</h2>
                <p>{{ recommendations | safe }}</p>
        </section>

        <section class="acquisition-section">
            <h2>Insights</h2>
                <p>{{ insights | safe }}</p>
        </section>
    {% endif %}
    
{% endblock %}