gunicorn
beautifulsoup4
boto3
botocore
Flask
Flask-Cors
Flask-Markdown
Flask-PyMongo
Flask-Session
fpdf
googlesearch-python
groq
Jinja2
langchain-core
langchain-groq
Markdown
markdown-it-py
openai
pycountry
pymongo
python-dotenv
requests
Werkzeug
